<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.drools.eclipse.launching.DroolsLaunchConfigurationDelegate">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/NIOServer/src/com/sap/course/homework/menu/App.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.sap.course.homework.menu.App"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="NIOServer"/>
</launchConfiguration>
